{% extends "account/base_account.html" %}

{% block title %}Login{% endblock title %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card mt-4">

            <div class="card-body p-4">
                <div class="text-center mt-2">
                    <h5 class="text-primary">Welcome Back !</h5>
                    <p class="text-muted">Sign in to continue</p>
                </div>
                <div class="p-2 mt-4">
                    <form method="POST" action="{{ url_for('auth.login') }}">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %} 
                        {% for category,message in messages %}
                        <div class="alert alert-{{category}}  mb-4 text-center" role="alert">
                            <strong>{{ message }}</strong>
                        </div>                        
                        {% endfor %}
                        {% endif %}
                        {% endwith %}

                        {{ form.hidden_tag() }}
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            {{ form.email(class="form-control") }}
                        </div>

                        <div class="mb-3">
                            <div class="float-end">
                            </div>
                            <label class="form-label" for="password-input">Password</label>
                            <div class="position-relative auth-pass-inputgroup mb-3">
                                {{ form.password(class="form-control password-input pe-5") }}
                                <button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon" type="button" id="password-addon"><i class="ri-eye-fill align-middle"></i></button>
                            </div>
                           
                        </div>
                        <div class="mb-3" style="text-align: right;">
                            <div>
                                <a href="{{url_for('auth.forgot_password')}}" class="text-muted">Forgot password?</a>
                            </div>
                        </div>
                        <div class="mb-3">
                        <div class="form-check">
                            {{ form.remember(class="form-check-input") }}
                            <label class="form-check-label" for="auth-remember-check">Remember me</label>
                        </div>
                        </div>
                        <div class="mt-4">
                            {{ form.submit(class="btn btn-success w-100") }}
                        </div>

                    </form>
                </div>
            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->

        <div class="mt-4 text-center">
            <p class="mb-0">Don't have an account ? <a href="/signup" class="fw-semibold text-primary text-decoration-underline"> Signup </a> </p>
        </div>

    </div>
</div>
{% endblock %}


{% block extra_js %}

<!-- password-addon init -->
<script src="{{url_for('static',filename='js/pages/password-addon.init.js')}}"></script>

{% endblock extra_js %}
