{% extends "partials/base.html" %}
{% block title %}Profile Settings{% endblock title %}
{% block extra_css %}
<!-- Sweet Alert css-->
<link href="{{url_for('static' ,filename='libs/sweetalert2/dist/sweetalert2.min.css')}}" rel="stylesheet" type="text/css" />
{% endblock extra_css %}
{% block content %}
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">
                <div class="page-content">
                    <div class="container-fluid">
                <div class="position-relative mx-n4 mt-n4">
                    <div class="profile-wid-bg profile-setting-img">
                        <img src="{{url_for('static' ,filename='images/profile-bg.jpg')}}" class="profile-wid-img" alt="">
                        <div class="overlay-content">
                            <div class="text-end p-3">
                                <div class="p-0 ms-auto rounded-circle profile-photo-edit">
                                    <input id="profile-foreground-img-file-input" type="file" class="profile-foreground-img-file-input">
                                    <label for="profile-foreground-img-file-input" class="profile-photo-edit btn btn-light">
                                        <i class="ri-image-edit-line align-bottom me-1"></i> Change Cover
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xxl-3">
                        <div class="card mt-n5">
                            <div class="card-body p-4">
                                <div class="text-center">
                                    
                                        <div class="profile-user position-relative d-inline-block mx-auto mb-4">
                                            <img src="{{ url_for('static', filename='uploads/avatars/' + current_user.user_info.avatar) }}"
                                                 class="rounded-circle avatar-xl img-thumbnail user-profile-image" alt="user-profile-image">
                                            <form method="POST" enctype="multipart/form-data" action="{{ url_for('common.upload_avatar') }}">
                                                {{ AvatarUploadForm.hidden_tag() }}
                                                <div class="avatar-xs p-0 rounded-circle profile-photo-edit">
                                                {{ AvatarUploadForm.avatar(class="profile-img-file-input", id="profile-img-file-input") }}
                                                <label for="profile-img-file-input" class="profile-photo-edit avatar-xs">
                                                    <span class="avatar-title rounded-circle bg-light text-body">
                                                        <i class="ri-camera-fill"></i>
                                                    </span>
                                                </label>
                                            </div>
                                            </form>
                                            <form method="POST" action="{{ url_for('common.delete_avatar') }}">
                                                <input type="hidden" name="csrf_token" id="csrf_token_deleteAvatarForm" value="{{ deleteAvatarForm.csrf_token._value() }}">
                                                <div class="avatar-xs p-0 rounded-circle profile-photo-delete">
                                                <label for="" class="profile-photo-edit avatar-xs">
                                                    <button type="submit" class="avatar-title rounded-circle bg-light text-body border-0">
                                                        <i class="ri-delete-bin-fill"></i>
                                                    </button>
                                                </label>
                                            </div>
                                            </form>
                                        </div>
                                    <h5 class="fs-16 mb-1">{{current_user.username}}</h5>
                                    <p class="text-muted mb-0">Lead Designer / Developer</p>
                                </div>
                            </div>
                        </div>
                        <!--end card-->
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex align-items-center mb-4">
                                    <div class="flex-grow-1">
                                        <h5 class="card-title mb-0">Portfolio</h5>
                                    </div>
                                </div>
                                <div class="mb-3 d-flex">
                                    <div class="avatar-xs d-block flex-shrink-0 me-3">
                                        <span class="avatar-title rounded-circle fs-16 bg-body text-body">
                                            <i class="ri-github-fill"></i>
                                        </span>
                                    </div>
                                    <input type="email" class="form-control" id="gitUsername" placeholder="Username" value="@daveadame">
                                </div>
                                <div class="mb-3 d-flex">
                                    <div class="avatar-xs d-block flex-shrink-0 me-3">
                                        <span class="avatar-title rounded-circle fs-16 bg-primary">
                                            <i class="ri-global-fill"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" id="websiteInput" placeholder="www.example.com" value="www.velzon.com">
                                </div>
                                <div class="mb-3 d-flex">
                                    <div class="avatar-xs d-block flex-shrink-0 me-3">
                                        <span class="avatar-title rounded-circle fs-16 bg-success">
                                            <i class="ri-dribbble-fill"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" id="dribbleName" placeholder="Username" value="@dave_adame">
                                </div>
                                <div class="d-flex">
                                    <div class="avatar-xs d-block flex-shrink-0 me-3">
                                        <span class="avatar-title rounded-circle fs-16 bg-danger">
                                            <i class="ri-pinterest-fill"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" id="pinterestName" placeholder="Username" value="Advance Dave">
                                </div>
                            </div>
                        </div>
                        <!--end card-->
                    </div>
                    <!--end col-->
                    <div class="col-xxl-9">
                        <div class="card mt-xxl-n5">
                            <div class="card-header">
                                <ul class="nav nav-tabs-custom rounded card-header-tabs border-bottom-0" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link {{ 'active' if activetab=='personalDetails' else '' }}" data-bs-toggle="tab" href="#personalDetails" role="tab">
                                            <i class="fas fa-home"></i> Personal Details
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link {{ 'active' if activetab=='changePassword' else '' }}" data-bs-toggle="tab" href="#changePassword" role="tab">
                                            <i class="far fa-user"></i> Change Password
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link {{ 'active' if activetab=='privacy' else '' }}" data-bs-toggle="tab" href="#privacy" role="tab">
                                            <i class="far fa-envelope"></i> Privacy Policy
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link {{ 'active' if activetab=='deleteAccount' else '' }}" data-bs-toggle="tab" href="#deleteAccount" role="tab">
                                            <i class="far fa-envelope"></i> Delete Account
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body p-4">
                                <div class="tab-content">
                                    <div class="tab-pane {{ 'active' if activetab=='personalDetails' else '' }}" id="personalDetails" role="tabpanel">
                                        <form method="POST"action="{{url_for('common.profile_settings_edit')}}" >
                                            <input type="hidden" name="csrf_token" id="csrf_token_form_a" value="{{ personalDetailForm.csrf_token._value() }}">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label for="firstname" class="form-label">First Name</label>
                                                        {{ personalDetailForm.firstname(class='form-control',placeholder="Enter your firstname")}}
                                                    </div>
                                                </div>
                                                <!--end col-->
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label for="lastname" class="form-label">Last Name</label>
                                                        {{ personalDetailForm.lastname(class='form-control',placeholder="Enter your lastname")}}
                                                    </div>
                                                </div>
                                                <!--end col-->
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label for="phonenumber" class="form-label">Phone Number</label>
                                                        {{ personalDetailForm.phonenumber(class='form-control',placeholder="Enter your Phone Number")}}
                                                    </div>
                                                </div>
                                                <!--end col-->
                                                <div class="col-lg-6">
                                                    <div class="mb-3">
                                                        <label for="email" class="form-label">Email Address</label>
                                                        {{ personalDetailForm.email(class='form-control',placeholder="Enter your Email")}}
                                                    </div>
                                                </div>
                                                <!--end col-->
                                                <div class="col-lg-12">
                                                    <div class="mb-3">
                                                        <label for="dob" class="form-label">Date of Birth</label>
                                                        {{ personalDetailForm.dob(class="form-control", id="dob", data_provider="flatpickr", data_date_format="d M, Y", placeholder="Select date") }}
                                                    </div>
                                                </div>
                                                <!--end col-->
                                                <div class="col-lg-12">
                                                    <div class="mb-3 pb-2">
                                                        <label for="address" class="form-label">Address</label>
                                                        {{ personalDetailForm.address(class='form-control',placeholder="Enter your Address")}}
                                                    </div>
                                                </div>
                                                <!--end col-->
                                                <div class="col-lg-12">
                                                    <div class="hstack gap-2 justify-content-end">
                                                        <button type="submit" class="btn btn-success">{{personalDetailForm.submit.label.text}}</button>
                                                        <a  href="{{url_for('auth.index')}}"><button type="button" class="btn btn-light">Cancel</button></a>
                                                    </div>
                                                </div>
                                                <!--end col-->
                                            </div>
                                            <!--end row-->
                                        </form>
                                    </div>
                                    <!--end tab-pane-->
                                    <div class="tab-pane {{ 'active' if activetab=='changePassword' else '' }}" id="changePassword" role="tabpanel">
                                        <form action="{{url_for('common.profile_settings_edit')}}" method="POST" novalidate>
                                            <input type="hidden" name="csrf_token" id="csrf_token_form_b" value="{{ changePasswordForm.csrf_token._value() }}">

                                            <div class="row g-2">
                                                <div class="col-lg-4">
                                                    <div>
                                                        <label for="oldpassword" class="form-label">Old Password*</label>
                                                        {{ changePasswordForm.oldpassword(class="form-control password-input pe-5", placeholder="Enter current password") }}
                                                        {% if changePasswordForm.oldpassword.errors %}
                                                            {% for message in changePasswordForm.oldpassword.errors %}
                                                            <div class="invalid-feedback d-block">
                                                                {{message}}
                                                            </div>
                                                            {% endfor %}
                                                        {% endif  %}
                                                    </div>
                                                </div>
                                                <!--end col-->
                                                <div class="col-lg-4">
                                                    <div>
                                                        <label for="newpassword" class="form-label">New Password*</label>
                                                        {{ changePasswordForm.newpassword(class="form-control password-input pe-5", placeholder="Enter new password") }}

                                                    </div>
                                                </div>
                                                <!--end col-->
                                                <div class="col-lg-4">
                                                    <div>
                                                        <label for="confirm" class="form-label">Confirm Password*</label>
                                                        {{ changePasswordForm.confirm(class="form-control password-input pe-5", placeholder="confirm new password") }}
                                                    </div>
                                                </div>
                                                <!--end col-->
                                                <div class="col-lg-4">
                                                    <div class="mb-3">
                                                        <a href="javascript:void(0);" class="link-primary text-decoration-underline">Forgot Password ?</a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-8">
                                                    {% if changePasswordForm.newpassword.errors%}      
                                                    <div id="password-contain" class="p-3 bg-light mb-2 rounded" style="display:block">
                                                        <h5 class="fs-13">New Password must contain:</h5>
                                                            {% for message in changePasswordForm.newpassword.errors %}
                                                                <p id="pass-length" class="invalid fs-12 mb-2">{{message}}</p>
                                                            {% endfor %}    
                                                    </div>
                                                  {% endif %}
                                                </div>

                                                <!--end col-->
                                                <div class="col-lg-12">
                                                    <div class="hstack gap-2 justify-content-end">
                                                        <div class="hstack gap-2 justify-content-end">
                                                            <button type="submit" class="btn btn-success" name="form_id" value="changePasswordForm">Change Password</button>
                                                            <a  href="{{url_for('auth.index')}}"><button type="button" class="btn btn-light">Cancel</button></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--end col-->
                                            </div>
                                            <!--end row-->
                                        </form>
                                    </div>
                                    <!--end tab-pane-->
                                    <div class="tab-pane {{ 'active' if activetab=='deleteAccount' else '' }}" id="deleteAccount" role="tabpanel">
                                        <div>
                                            <form id="delete-account-form" action="{{ url_for('auth.delete_account') }}" method="POST">
                                                <input type="hidden" name="csrf_token" id="csrf_token_DeleteAccountForm" value="{{ DeleteAccounteForm.csrf_token._value() }}">
                                                <p class="text-muted">Go to the Data & Privacy section of your profile Account. Scroll to "Your data & privacy options." Delete your Profile Account. Follow the instructions to delete your account :</p>
                                                <div>
                                                    {{DeleteAccounteForm.password_d(class="form-control",placeholder="Enter your password",style="max-width: 265px;")}}
                                                </div>
                                                <div class="hstack gap-2 mt-3 justify-content-end">
                                                    <button type="button" id="custom-sa-warning-delete-account" class="btn btn-danger">Close & Delete This Account</button>
                                                    <a  href="{{url_for('auth.index')}}"><button type="button" class="btn btn-light">Cancel</button></a>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <!--end tab-pane-->
                                    <div class="tab-pane {{ 'active' if activetab=='privacy' else '' }}" id="privacy" role="tabpanel">
                                        <div class="mb-4 pb-2">
                                            
                                            <h5 class="card-title text-decoration-underline mb-3">Security:</h5>
                                            <div class="d-flex flex-column flex-sm-row mb-4 mb-sm-0">
                                                <div class="flex-grow-1">
                                                    <h6 class="fs-14 mb-1">Two-factor Authentication</h6>
                                                    <p class="text-muted">Two-factor authentication is an enhanced security meansur. Once enabled, you'll be required to give two types of identification when you log into Google Authentication and SMS are Supported.</p>
                                                </div>
                                                <div class="flex-shrink-0 ms-sm-3">
                                                    <a href="javascript:void(0);" class="btn btn-sm btn-primary">Enable Two-facor Authentication</a>
                                                </div>
                                            </div>
                                            <div class="d-flex flex-column flex-sm-row mb-4 mb-sm-0 mt-2">
                                                <div class="flex-grow-1">
                                                    <h6 class="fs-14 mb-1">Secondary Verification</h6>
                                                    <p class="text-muted">The first factor is a password and the second commonly includes a text with a code sent to your smartphone, or biometrics using your fingerprint, face, or retina.</p>
                                                </div>
                                                <div class="flex-shrink-0 ms-sm-3">
                                                    <a href="javascript:void(0);" class="btn btn-sm btn-primary">Set up secondary method</a>
                                                </div>
                                            </div>
                                            <div class="d-flex flex-column flex-sm-row mb-4 mb-sm-0 mt-2">
                                                <div class="flex-grow-1">
                                                    <h6 class="fs-14 mb-1">Backup Codes</h6>
                                                    <p class="text-muted mb-sm-0">A backup code is automatically generated for you when you turn on two-factor authentication through your iOS or Android Twitter app. You can also generate a backup code on twitter.com.</p>
                                                </div>
                                                <div class="flex-shrink-0 ms-sm-3">
                                                    <a href="javascript:void(0);" class="btn btn-sm btn-primary">Generate backup codes</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <form action="javascript:void(0);">
                                            <h5 class="card-title text-decoration-underline mb-3">Application Notifications:</h5>
                                            <ul class="list-unstyled mb-0">
                                                <li class="d-flex">
                                                    <div class="flex-grow-1">
                                                        <label for="directMessage" class="form-check-label fs-14">Direct messages</label>
                                                        <p class="text-muted">Messages from people you follow</p>
                                                    </div>
                                                    <div class="flex-shrink-0">
                                                        <div class="form-check form-switch">
                                                            <input class="form-check-input" type="checkbox" role="switch" id="directMessage" checked />
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="d-flex mt-2">
                                                    <div class="flex-grow-1">
                                                        <label class="form-check-label fs-14" for="desktopNotification">
                                                            Show desktop notifications
                                                        </label>
                                                        <p class="text-muted">Choose the option you want as your default setting. Block a site: Next to "Not allowed to send notifications," click Add.</p>
                                                    </div>
                                                    <div class="flex-shrink-0">
                                                        <div class="form-check form-switch">
                                                            <input class="form-check-input" type="checkbox" role="switch" id="desktopNotification" checked />
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="d-flex mt-2">
                                                    <div class="flex-grow-1">
                                                        <label class="form-check-label fs-14" for="emailNotification">
                                                            Show email notifications
                                                        </label>
                                                        <p class="text-muted"> Under Settings, choose Notifications. Under Select an account, choose the account to enable notifications for. </p>
                                                    </div>
                                                    <div class="flex-shrink-0">
                                                        <div class="form-check form-switch">
                                                            <input class="form-check-input" type="checkbox" role="switch" id="emailNotification" />
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="d-flex mt-2">
                                                    <div class="flex-grow-1">
                                                        <label class="form-check-label fs-14" for="chatNotification">
                                                            Show chat notifications
                                                        </label>
                                                        <p class="text-muted">To prevent duplicate mobile notifications from the Gmail and Chat apps, in settings, turn off Chat notifications.</p>
                                                    </div>
                                                    <div class="flex-shrink-0">
                                                        <div class="form-check form-switch">
                                                            <input class="form-check-input" type="checkbox" role="switch" id="chatNotification" />
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="d-flex mt-2">
                                                    <div class="flex-grow-1">
                                                        <label class="form-check-label fs-14" for="purchaesNotification">
                                                            Show purchase notifications
                                                        </label>
                                                        <p class="text-muted">Get real-time purchase alerts to protect yourself from fraudulent charges.</p>
                                                    </div>
                                                    <div class="flex-shrink-0">
                                                        <div class="form-check form-switch">
                                                            <input class="form-check-input" type="checkbox" role="switch" id="purchaesNotification" />
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                            <div class="col-lg-12">
                                                <div class="hstack gap-2 justify-content-end">
                                                    <button type="submit" class="btn btn-success">Updates</button>
                                                    <button type="button" class="btn btn-light">Cancel</button>
                                                </div>
                                            </div>
                                            </form>
                                        </div>
                                    </div>
                                    <!--end tab-pane-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->

            </div>
            <!-- container-fluid -->
        </div><!-- End Page-content -->

            {% block footer %}
            {% include "partials/footer.html" %}
            {% endblock footer %}
            </div>
            <!-- end main content-->

{% endblock content %}
{% block extra_js %}
    <!-- profile-setting init js -->
    <script src="{{url_for('static' ,filename='js/pages/profile-setting.init.js')}}"></script>
     <!-- Sweet Alerts js -->
     <script src="{{url_for('static' ,filename='libs/sweetalert2/dist/sweetalert2.min.js')}}"></script>

     <!-- Sweet alert init js-->
     <script src="{{url_for('static' ,filename='js/pages/sweetalerts.init.js')}}"></script>

    <!-- Sweet alert init js-->
    <script src="{{url_for('static' ,filename='js/alerts.js')}}"></script>
   
   <script nonce="{{ csp_nonce() }}">
        document.addEventListener('DOMContentLoaded', function() {

            const profileImgInput = document.getElementById('profile-img-file-input');
    
            if (profileImgInput) {
                profileImgInput.addEventListener('change', function() {
                    this.form.submit();
                });
            }

        });
    </script>

     <!-- Add flash messages data -->
     <script id="flash-messages-data" type="application/json">
        [
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        {"category": "{{ category }}", "message": "{{ message }}"}{% if not loop.last %},{% endif %}
                    {% endfor %}
                {% endif %}
            {% endwith %}
        ]
    </script>
    <script src="{{url_for('static' ,filename='js/flashMessages.js') }}" nonce="{{ csp_nonce() }}"></script>

{% endblock extra_js %}
